# Python cache files
__pycache__/
*.py[cod]

# Django specific files
*.sqlite3
db.sqlite3

# Environment variables
.env

# Local settings
local_settings.py

# Static files
/static/
media/

# Virtual environment
venv/
env/
*.egg-info/

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Specific virtual environment folder
UbiNest/env/
env/

# Log files
*.log

# Other files to ignore
*.bak
*.swp
